---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Portfolio";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="259" alt="RaccoonSpaceGif" src="/space.webp"/>
    </div>
    <h1>Adwitya Chakraborty</h1>
    <span class="badge">Tech Enthusiast</span>
    <h2>About</h2>
    <p>
       Passionate tech enthusiast from India driven by a love for clean, concise code, and always exploring new technologies to expand my skill set.
    </p>
   
    <div class="center">
        <a href="/works/">
            <button class="btn">My projects</button>
        </a>
    </div>
    <h2>Skills</h2>
    <div style="display: flex; flex-wrap: wrap; gap: 12px; justify-content: space-evenly;">
  <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" height="40" alt="python logo" />
  <img src="https://skillicons.dev/icons?i=mysql" height="40" alt="mysql logo" />
  <img src="https://skillicons.dev/icons?i=mongodb" height="40" alt="mongodb logo" />
  <img src="https://skillicons.dev/icons?i=html" height="40" alt="html5 logo" />
  <img src="https://skillicons.dev/icons?i=css" height="40" alt="css3 logo" />
  <img src="https://skillicons.dev/icons?i=js" height="40" alt="javascript logo" />
  <img src="https://skillicons.dev/icons?i=c" height="40" alt="c logo" />
  <img src="https://skillicons.dev/icons?i=cpp" height="40" alt="cplusplus logo" />
  <img src="https://cdn.simpleicons.org/postman/FF6C37" height="40" alt="postman logo" />
  <img src="https://cdn.simpleicons.org/gnubash/4EAA25" height="40" alt="bash logo" />
</div>

    <h2>Interests</h2>
    <p>
       Outside my interests in tech, you can find me watching anime, reading manga among other interests like writing poems and articles.
    </p>
</Layout>

